body{
    background-color:lightblue;
    text-align:center;
}
.container{
    height:70vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    gap:1.5vmin;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius :1rem;
    font-size: 8vmin;
    background-color:blanchedalmond;
    color:darkblue;
}
#resetbtn{
    padding: 1rem;
    font: size 4vmin;
    background-color:black;
    color:blanchedalmond;    
}
.msg-container{
    height: 110vmin;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:2rem;
}
#msg{
    color:darkblue;
    font-size: 7vmin;   
}
#new-btn{
    padding: 1vmin;
    font-size:4vmin;
    color:blanchedalmond;
    background-color:black;
}
.hide{
    display:none;
}
.draw-container{
    height:100vmin;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:2rem;
}
#drawmsg{
    color:darkblue;
    font-size:7vmin;
}
#restartbtn{
    padding: 1vmin;
    font-size:4vmin;
    color:blanchedalmond;
    background-color:black;
}
.hide{
    display: none;
}

